
@model LoginVM




<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Login Page</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                <form method="post">
                  <div class="login-form">
                    <h4 class="login-title">Login</h4>
                    <div class="row">
                      <div class="col-lg-12">
                        <label>İstifadəçi adı</label>
                        <input asp-for="userName" placeholder="İstifadəçi adı"><br />
                        <span class="text text-danger" asp-validation-for="userName"></span>
                      </div>
                      <div class="col-lg-12">
                        <label>Şifrə</label>
                        <input asp-for="password" placeholder="Şifr"><br />
                        <span class="text text-danger" asp-validation-for="password"></span>
                      </div>
                      <div class="col-md-8">
                        <div class="check-box">
                          <input asp-for="rememberMe">
                          <label for="remember_me">Yadda saxla</label>
                        </div>
                      </div>
                      <div class="col-md-4 pt-1 mt-md-0">
                        <div class="forgotton-password_info">
                          <a href="#"> Parolu unutdunuz?</a>
                        </div>
                      </div>
                      <div class="col-lg-12 pt-5">
                        <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</main>